*::-moz-selection {
  background: rgba(52, 86, 101, 0.6);
}*::selection {
  background: rgba(52, 86, 101, 0.6);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  position: relative;
}
body a {
  all: unset;
  cursor: pointer;
}
body main {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url("../IMG/layout.jpg") center no-repeat;
  background-size: cover;
  place-content: center;
  gap: 20px;
}
body main a {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
body main.open {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body header {
  width: 95%;
  background: #DCFF00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  padding: 3px;
  margin-top: 15px;
}
body header a {
  font-size: 13.5px;
}
body header > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
body header > :nth-child(1) > :nth-child(1) {
  background: black;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5px 65px;
  border-radius: 10px;
  gap: 3px;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 15px;
}
body header > :nth-child(1) > :nth-child(1) > :nth-child(1) img {
  width: 100%;
}
body header > :nth-child(1) > :nth-child(1) h1 {
  font-size: 14px;
  letter-spacing: 0.6px;
  color: white;
}
body header > :nth-child(1) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 39px;
}
body header > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
body header > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 10px;
}
body header > :nth-child(2) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 10px;
  gap: 5px;
}
body header > :nth-child(2) > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header > :nth-child(2) > :nth-child(2) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 15px;
}
body header > :nth-child(2) > :nth-child(2) > :nth-child(2) img {
  width: 100%;
}
body header > :nth-child(2) .burger {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header > :nth-child(2) .burger .burgerClose {
  width: 100%;
  max-width: 30px;
  cursor: pointer;
  visibility: visible;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}
body header > :nth-child(2) .burger .burgerClose img {
  width: 100%;
}
body header > :nth-child(2) .burger .burgerOpen {
  width: 100%;
  max-width: 30px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
body header > :nth-child(2) .burger .burgerOpen img {
  width: 100%;
}
body header > :nth-child(2) .burger.open .burgerClose {
  visibility: hidden;
  opacity: 0;
}
body header > :nth-child(2) .burger.open .burgerOpen {
  visibility: visible;
  opacity: 1;
}
body header.open {
  background: none;
}
body header.open > :nth-child(1) > :nth-child(1) {
  display: none;
}
body nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -15.7px;
  font-family: "Inter", sans-serif;
}
body nav .tabOne, body nav .tabTwo, body nav .tabThree, body nav .tabFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 25%;
  background: white;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-right: 1.5px solid black;
}
body nav .tabOne:hover, body nav .tabTwo:hover, body nav .tabThree:hover, body nav .tabFour:hover {
  background-size: cover;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
body nav .tabOne > :nth-child(1), body nav .tabTwo > :nth-child(1), body nav .tabThree > :nth-child(1), body nav .tabFour > :nth-child(1) {
  height: 83%;
  width: 78%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body nav .tabOne > :nth-child(1) h2, body nav .tabTwo > :nth-child(1) h2, body nav .tabThree > :nth-child(1) h2, body nav .tabFour > :nth-child(1) h2 {
  font-size: 320px;
  font-family: "Tulpen One", cursive;
  margin: 0 auto;
  cursor: default;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body nav .tabOne > :nth-child(1) button, body nav .tabTwo > :nth-child(1) button, body nav .tabThree > :nth-child(1) button, body nav .tabFour > :nth-child(1) button {
  all: unset;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  width: 135px;
  font-size: 14px;
}
body nav .tabOne > :nth-child(1) > :nth-child(3), body nav .tabTwo > :nth-child(1) > :nth-child(3), body nav .tabThree > :nth-child(1) > :nth-child(3), body nav .tabFour > :nth-child(1) > :nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) h3, body nav .tabTwo > :nth-child(1) > :nth-child(3) h3, body nav .tabThree > :nth-child(1) > :nth-child(3) h3, body nav .tabFour > :nth-child(1) > :nth-child(3) h3 {
  font-weight: 100;
  font-size: 14px;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .next, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .next, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .next, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour {
  background: black;
  border-radius: 50%;
  width: 100%;
  max-width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextWhite, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextWhiteTwo, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextWhiteThree, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextWhiteFour, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextWhite, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteTwo, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteThree, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteFour, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextWhite, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteTwo, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteThree, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteFour, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextWhite, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteTwo, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteThree, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextWhite, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextWhiteTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextWhiteThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextWhiteFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextWhite, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextWhite, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextWhite, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextWhite, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextWhiteTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextWhiteThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextWhiteFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextWhite, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextWhite, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextWhite, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextWhite, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextWhiteTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextWhiteThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextWhiteFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextWhite, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextWhite, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextWhite, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
  padding: 2px 0px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 16px;
  visibility: visible;
  opacity: 1;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextWhite img, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextWhiteTwo img, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextWhiteThree img, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextWhiteFour img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextWhite img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteTwo img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteThree img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteFour img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextWhite img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteTwo img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteThree img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteFour img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextWhite img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteTwo img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteThree img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteFour img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextWhite img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextWhiteTwo img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextWhiteThree img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextWhiteFour img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextWhite img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteTwo img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteThree img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteFour img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextWhite img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteTwo img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteThree img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteFour img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextWhite img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteTwo img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteThree img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteFour img, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextWhite img, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextWhiteTwo img, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextWhiteThree img, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextWhiteFour img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextWhite img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteTwo img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteThree img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteFour img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextWhite img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteTwo img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteThree img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteFour img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextWhite img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteTwo img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteThree img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteFour img, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextWhite img, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextWhiteTwo img, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextWhiteThree img, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextWhiteFour img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextWhite img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteTwo img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteThree img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextWhiteFour img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextWhite img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteTwo img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteThree img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextWhiteFour img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextWhite img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteTwo img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteThree img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextWhiteFour img {
  width: 100%;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextBlack, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextBlackTwo, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextBlackThree, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextBlackFour, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextBlack, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackTwo, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackThree, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackFour, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextBlack, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextBlackTwo, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextBlackThree, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextBlackFour, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextBlack, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextBlackTwo, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextBlackThree, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextBlackFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextBlack, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextBlackTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextBlackThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextBlackFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextBlack, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextBlack, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextBlackTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextBlackThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextBlackFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextBlack, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextBlackTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextBlackThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextBlackFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextBlack, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextBlackTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextBlackThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextBlackFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextBlack, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextBlack, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextBlackTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextBlackThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextBlackFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextBlack, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextBlackTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextBlackThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextBlackFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextBlack, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextBlackTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextBlackThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextBlackFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextBlack, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextBlack, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextBlackTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextBlackThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextBlackFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextBlack, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextBlackTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextBlackThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextBlackFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
  padding: 2px 0px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 16px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextBlack img, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextBlackTwo img, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextBlackThree img, body nav .tabOne > :nth-child(1) > :nth-child(3) .next .nextBlackFour img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextBlack img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackTwo img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackThree img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackFour img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextBlack img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextBlackTwo img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextBlackThree img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree .nextBlackFour img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextBlack img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextBlackTwo img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextBlackThree img, body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour .nextBlackFour img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextBlack img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextBlackTwo img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextBlackThree img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next .nextBlackFour img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextBlack img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackTwo img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackThree img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackFour img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextBlack img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextBlackTwo img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextBlackThree img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree .nextBlackFour img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextBlack img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextBlackTwo img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextBlackThree img, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour .nextBlackFour img, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextBlack img, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextBlackTwo img, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextBlackThree img, body nav .tabThree > :nth-child(1) > :nth-child(3) .next .nextBlackFour img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextBlack img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackTwo img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackThree img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackFour img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextBlack img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextBlackTwo img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextBlackThree img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree .nextBlackFour img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextBlack img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextBlackTwo img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextBlackThree img, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour .nextBlackFour img, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextBlack img, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextBlackTwo img, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextBlackThree img, body nav .tabFour > :nth-child(1) > :nth-child(3) .next .nextBlackFour img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextBlack img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackTwo img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackThree img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo .nextBlackFour img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextBlack img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextBlackTwo img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextBlackThree img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree .nextBlackFour img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextBlack img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextBlackTwo img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextBlackThree img, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour .nextBlackFour img {
  width: 100%;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .next.open, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next.open, body nav .tabThree > :nth-child(1) > :nth-child(3) .next.open, body nav .tabFour > :nth-child(1) > :nth-child(3) .next.open {
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .next.open .nextWhite, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next.open .nextWhite, body nav .tabThree > :nth-child(1) > :nth-child(3) .next.open .nextWhite, body nav .tabFour > :nth-child(1) > :nth-child(3) .next.open .nextWhite {
  visibility: hidden;
  opacity: 0;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .next.open .nextBlack, body nav .tabTwo > :nth-child(1) > :nth-child(3) .next.open .nextBlack, body nav .tabThree > :nth-child(1) > :nth-child(3) .next.open .nextBlack, body nav .tabFour > :nth-child(1) > :nth-child(3) .next.open .nextBlack {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo.open, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo.open, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo.open, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo.open {
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo.open .nextWhiteTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo.open .nextWhiteTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo.open .nextWhiteTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo.open .nextWhiteTwo {
  visibility: hidden;
  opacity: 0;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .nextTwo.open .nextBlackTwo, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextTwo.open .nextBlackTwo, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextTwo.open .nextBlackTwo, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextTwo.open .nextBlackTwo {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree.open, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree.open, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree.open, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree.open {
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree.open .nextWhiteThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree.open .nextWhiteThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree.open .nextWhiteThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree.open .nextWhiteThree {
  visibility: hidden;
  opacity: 0;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .nextThree.open .nextBlackThree, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextThree.open .nextBlackThree, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextThree.open .nextBlackThree, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextThree.open .nextBlackThree {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour.open, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour.open, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour.open, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour.open {
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour.open .nextWhiteFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour.open .nextWhiteFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour.open .nextWhiteFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour.open .nextWhiteFour {
  visibility: hidden;
  opacity: 0;
}
body nav .tabOne > :nth-child(1) > :nth-child(3) .nextFour.open .nextBlackFour, body nav .tabTwo > :nth-child(1) > :nth-child(3) .nextFour.open .nextBlackFour, body nav .tabThree > :nth-child(1) > :nth-child(3) .nextFour.open .nextBlackFour, body nav .tabFour > :nth-child(1) > :nth-child(3) .nextFour.open .nextBlackFour {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body nav .tabOne:hover h2,
body nav .tabTwo:hover h2,
body nav .tabThree:hover h2,
body nav .tabFour:hover h2,
body nav .tabOne:hover button,
body nav .tabTwo:hover button,
body nav .tabThree:hover button,
body nav .tabFour:hover button,
body nav .tabOne:hover h3,
body nav .tabTwo:hover h3,
body nav .tabThree:hover h3,
body nav .tabFour:hover h3 {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-color: white;
}
body nav .tabOne:hover {
  background: url("../IMG/photo1.jpg") center no-repeat;
  background-size: cover;
}
body nav .tabTwo:hover {
  background: url("../IMG/photo2.jpg") center no-repeat;
  background-size: cover;
}
body nav .tabThree:hover {
  background: url("../IMG/photo3.jpg") center no-repeat;
  background-size: cover;
}
body nav .tabFour:hover {
  background: url("../IMG/photo4.jpg") center no-repeat;
  background-size: cover;
}
body nav.open {
  display: none;
}

@media (max-width: 888px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    position: relative;
  }
  body header > :nth-child(1) {
    gap: 0px;
  }
  body header > :nth-child(1) > :nth-child(2) {
    display: none;
  }
  body header > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header > :nth-child(2) > :nth-child(1), body header > :nth-child(2) > :nth-child(2) {
    display: none;
  }
  body header > :nth-child(2) .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body nav .tabOne, body nav .tabTwo, body nav .tabThree, body nav .tabFour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 49.7%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: 0px;
    padding-top: 100px;
  }
  body nav .tabOne > :nth-child(1), body nav .tabTwo > :nth-child(1), body nav .tabThree > :nth-child(1), body nav .tabFour > :nth-child(1) {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body nav .tabOne {
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
  }
  body nav .tabTwo {
    border-bottom: 1.5px solid black;
  }
  body nav .tabThree {
    border-right: 1.5px solid black;
  }
}
@media (max-width: 550px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    position: relative;
  }
  body header > :nth-child(1) {
    gap: 0px;
  }
  body header > :nth-child(1) > :nth-child(2) {
    display: none;
  }
  body header > :nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header > :nth-child(2) > :nth-child(1), body header > :nth-child(2) > :nth-child(2) {
    display: none;
  }
  body header > :nth-child(2) .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body nav .tabOne, body nav .tabTwo, body nav .tabThree, body nav .tabFour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border: 0px;
    padding-top: 100px;
  }
  body nav .tabOne > :nth-child(1), body nav .tabTwo > :nth-child(1), body nav .tabThree > :nth-child(1), body nav .tabFour > :nth-child(1) {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body nav .tabOne {
    border-bottom: 1.5px solid black;
  }
  body nav .tabOne:hover {
    background: url("../IMG/photo1.jpg") fixed center no-repeat;
    background-size: cover;
  }
  body nav .tabTwo {
    border-bottom: 1.5px solid black;
  }
  body nav .tabTwo:hover {
    background: url("../IMG/photo2.jpg") fixed center no-repeat;
    background-size: cover;
  }
  body nav .tabThree {
    border-bottom: 1.5px solid black;
  }
  body nav .tabThree:hover {
    background: url("../IMG/photo3.jpg") fixed center no-repeat;
    background-size: cover;
  }
  body nav .tabFour:hover {
    background: url("../IMG/photo4.jpg") fixed center no-repeat;
    background-size: cover;
  }
}