*::selection{
	background: rgba(#345665, .6);
}

body{
	display: flex;
	place-content:center;
	position: relative;
	a{
		all: unset;
		cursor: pointer;
	}
	main{
		font-family: 'Inter', sans-serif;
		width: 100%;
		height: 100%;
		display: none;
		visibility: hidden;
		opacity: 0;
		flex-flow: column wrap;
		align-items: center;
		text-align: center;
		background: url('../IMG/layout.jpg') center no-repeat;
		background-size: cover;
		place-content: center;
		gap: 20px;
		a{
			font-size: 16px;
			font-weight: bold;
			color: white;
		}
	}
	main.open{
		visibility: visible;
		opacity: 1;
		display: flex;
	}
	header{
		width: 95%;
		background: #DCFF00;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		font-family: 'Inter', sans-serif;
		border-radius: 10px;
		padding: 3px;
		margin-top: 15px;
		a{
			font-size: 13.5px;
		}
		>:nth-child(1){
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 50px;
			>:nth-child(1){
				background: black;
				cursor: pointer;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				padding: .5px 65px;
				border-radius: 10px;
				gap: 3px;
				>:nth-child(1){
					display: flex;
					flex-flow: row wrap;
					place-content: center;
					align-items: center;
					width: 100%;
					max-width: 15px;
					img{
						width: 100%;
					}
				}
				h1{
					font-size: 14px;
					letter-spacing: .6px;
					color: white;
				}
			}
			>:nth-child(2){
				display: flex;
				flex-flow: row wrap;
				gap: 39px;
			}
		}
		>:nth-child(2){
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap: 2px;
			>:nth-child(1){
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				border: 1px solid black;
				padding: 10px 15px;
				border-radius: 10px;
			}
			>:nth-child(2){
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				border: 1px solid black;
				padding: 10px 15px;
				border-radius: 10px;
				gap: 5px;
				>:nth-child(1){
					display: flex;
					align-items: center;
				}
				>:nth-child(2){
					display: flex;
					align-items: center;
					width: 100%;
					max-width: 15px;
					img{
						width: 100%;
					}
				}
			}
			.burger{
				display: none;
				flex-flow: row wrap;
				align-items: center;
				.burgerClose{
					width: 100%;
					max-width: 30px;
					cursor: pointer;
					visibility: visible;
					transition: .3s;
					opacity: 1;
					img{
						width: 100%;
					}
				}
				.burgerOpen{
					width: 100%;
					max-width: 30px;
					cursor: pointer;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					transition: .1s;
					img{
						width: 100%;
					}
				}
			}
			.burger.open{
				.burgerClose{
					visibility: hidden;
					opacity: 0;
				}
				.burgerOpen{
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	header.open{
		background: none;
		>:nth-child(1){
			>:nth-child(1){
				display: none;
			}
		}
	}
	nav{
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-top: -15.7px;
		font-family: 'Inter', sans-serif;
		.tabOne, .tabTwo, .tabThree, .tabFour{
			display: flex;
			flex-flow: column wrap;
			width: 25%;
			background: white;
			justify-content: flex-end;
			transition: .1s;
			border-right: 1.5px solid black;
			&:hover{
				background-size: cover;
				transition: 1s ease-in-out;
			}
			>:nth-child(1){
				height: 83%;
				width: 78%;
				margin: 0 auto;
				display: flex;
				flex-flow: column wrap;
				justify-content: space-between;
				h2{
					font-size: 320px;
					font-family: 'Tulpen One', cursive;
					margin: 0 auto;
					cursor: default;
					transition: .3s;
				}
				button{
					all: unset;
					transition: .3s;
					cursor: pointer;
					border-radius: 20px;
					border: 1px solid black;
					text-align: center;
					width: 135px;
					font-size: 14px;
				}
				>:nth-child(3){
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
					h3{
						font-weight: 100;
						font-size: 14px;
					}
					.next, .nextTwo, .nextThree, .nextFour{
						background: black;
						border-radius: 50%;
						width: 100%;
						max-width: 20px;
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						justify-content: center;
						place-content: center;
						transition: .5s;
						cursor: pointer;
						.nextWhite, .nextWhiteTwo, .nextWhiteThree, .nextWhiteFour{
							display: flex;
							align-items: center;
							place-content: center;
							padding: 2px 0px;
							width: 100%;
							transition: .5s;
							max-width: 16px;
							visibility: visible;
							opacity: 1;
							img{
								width: 100%;
							}
						}
						.nextBlack, .nextBlackTwo, .nextBlackThree, .nextBlackFour{
							display: flex;
							align-items: center;
							place-content: center;
							padding: 2px 0px;
							width: 100%;
							transition: .5s;
							max-width: 16px;
							visibility: hidden;
							opacity: 0;
							position: absolute;
							img{
								width: 100%;
							}
						}
					}
					.next.open{
						background: white;
						transition: .5s;
						.nextWhite{
							visibility: hidden;
							opacity: 0;
						}
						.nextBlack{
							visibility: visible;
							opacity: 1;
							display: flex;
						}
					}
					.nextTwo.open{
						background: white;
						transition: .5s;
						.nextWhiteTwo{
							visibility: hidden;
							opacity: 0;
						}
						.nextBlackTwo{
							visibility: visible;
							opacity: 1;
							display: flex;
						}
					}
					.nextThree.open{
						background: white;
						transition: .5s;
						.nextWhiteThree{
							visibility: hidden;
							opacity: 0;
						}
						.nextBlackThree{
							visibility: visible;
							opacity: 1;
							display: flex;
						}
					}
					.nextFour.open{
						background: white;
						transition: .5s;
						.nextWhiteFour{
							visibility: hidden;
							opacity: 0;
						}
						.nextBlackFour{
							visibility: visible;
							opacity: 1;
							display: flex;
						}
					}
				}
			}
		}
		.tabOne:hover h2, 
		.tabTwo:hover h2, 
		.tabThree:hover h2, 
		.tabFour:hover h2,
		.tabOne:hover button,
		.tabTwo:hover button,
		.tabThree:hover button,
		.tabFour:hover button,
		.tabOne:hover h3,
		.tabTwo:hover h3, 
		.tabThree:hover h3,
		.tabFour:hover h3,{
			color: white;
			transition: .5s;
			border-color: white;
		}
		.tabOne{
			&:hover{
				background: url('../IMG/photo1.jpg') center no-repeat;
				background-size: cover;
			}
		}
		.tabTwo{
			&:hover{
				background: url('../IMG/photo2.jpg') center no-repeat;
				background-size: cover;
			}
		}
		.tabThree{
			&:hover{
				background: url('../IMG/photo3.jpg') center no-repeat;
				background-size: cover;
			}
		}
		.tabFour{
			&:hover{
				background: url('../IMG/photo4.jpg') center no-repeat;
				background-size: cover;
			}
		}
	}
	nav.open{
		display: none;
	}
}

@media (max-width: 888px){
	body{
		display: flex;
		place-content:center;
		position: relative;
		header{
			>:nth-child(1){
				gap: 0px;
				>:nth-child(2){
					display: none;
				}
			}
			>:nth-child(2){
				display: flex;
				>:nth-child(1), >:nth-child(2){
					display: none;
				}
				.burger{
					display: flex;
				}
			}
		}
		nav{
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;		
			.tabOne, .tabTwo, .tabThree, .tabFour{
				display: flex;
				flex-flow: column wrap;
				width: 49.7%;
				align-items: center;
				background: white;
				justify-content: flex-end;
				transition: .1s;
				border: 0px;
				padding-top: 100px;
				>:nth-child(1){
					height: 100%;
					width: 80%;
					margin: 0 auto;
					display: flex;
					flex-flow: column wrap;
					justify-content: space-between;
				}
			}
			.tabOne{
				border-right: 1.5px solid black;
				border-bottom: 1.5px solid black;
			}
			.tabTwo{
				border-bottom: 1.5px solid black;
			}
			.tabThree{
				border-right: 1.5px solid black;
			}
		}
	}
}

@media (max-width: 550px){
	body{
		display: flex;
		place-content:center;
		position: relative;
		header{
			>:nth-child(1){
				gap: 0px;
				>:nth-child(2){
					display: none;
				}
			}
			>:nth-child(2){
				display: flex;
				>:nth-child(1), >:nth-child(2){
					display: none;
				}
				.burger{
					display: flex;
				}
			}
		}
		nav{
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;		
			.tabOne, .tabTwo, .tabThree, .tabFour{
				display: flex;
				flex-flow: column wrap;
				width: 100%;
				align-items: center;
				background: white;
				justify-content: flex-end;
				transition: .1s;
				border: 0px;
				padding-top: 100px;
				>:nth-child(1){
					height: 100%;
					width: 80%;
					margin: 0 auto;
					display: flex;
					flex-flow: column wrap;
					justify-content: space-between;
				}
			}
			.tabOne{
				border-bottom: 1.5px solid black;
				&:hover{
					background: url('../IMG/photo1.jpg') fixed center no-repeat;
					background-size: cover;
				}
			}
			.tabTwo{
				border-bottom: 1.5px solid black;
				&:hover{
					background: url('../IMG/photo2.jpg') fixed center no-repeat;
					background-size: cover;
				}
			}
			.tabThree{
				border-bottom: 1.5px solid black;
				&:hover{
					background: url('../IMG/photo3.jpg') fixed center no-repeat;
					background-size: cover;
				}
			}
			.tabFour{
				&:hover{
					background: url('../IMG/photo4.jpg') fixed center no-repeat;
					background-size: cover;
				}
			}
		}
	}
}
